<!DOCTYPE html> <!-- 使用 HTML5 doctype，不区分大小写 -->
<html lang="zh-cmn-Hans"> <!-- 更加标准的 lang 属性写法 -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>系统提示信息列表 | 数据管理系统</title>

    <meta name="keywords" content="系统提示信息列表,数据管理系统">
    <meta name="description" content="系统提示信息列表 | 数据管理系统">

    <!--[if lt IE 8]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->

    <!-- 全局CSS -->
    <script src="/js/meta.js"></script>
    <script type="text/javascript">
        BASE_CSS();
        BOOTSTRAP_TABLE_CSS();
    </script>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="padding-top: 7px">
                    <input id="search-input" class="search-input" type="text" aria-required="true" aria-invalid="false" class="valid">
                    <input id="search-input-0" type="checkbox" checked="checked"><label for="search-input-0">未读</label>
                    <input id="search-input-1" type="checkbox" checked="checked"><label for="search-input-1">已读</label>
                    <div class="btn btn-info" id="search-btn"><i class="fa fa-search"></i> 查询</div>
                </div>
                <div class="ibox-content">
                    <table id="data-table" data-mobile-responsive="true">
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- 全局js -->
<script type="text/javascript">
    BASE_JS();
    BOOTSTRAP_TABLE_JS();
</script>

<script src="/js/messages/messages-list.js"></script>


</body>
</html>