<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration> 
	<!-- dialect mysql,oracle -->
	<properties>
	    <property name="dialect" value="MySql"/>
	</properties>
	
	<settings>  
	    <!-- 这个配置使全局的映射器启用或禁用缓存 -->  
	    <setting name="cacheEnabled" value="false"/>   
	    <!-- 设置超时时间，它决定驱动等待一个数据库响应的时间 -->  
	    <setting name="defaultStatementTimeout" value="25000"/>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>

	<plugins>
		<plugin interceptor="com.anluy.datapig.dao.PaginationInterceptor">
		</plugin>
	</plugins>
    
</configuration>